<p id="notice"><%= notice %></p>
<CENTER>
<h1>
  <%= @productorder.name %>
</h1>
<p>
  <b>Codigo:</b>
  <%= @productorder.code %>
</p>

<p>
  <b>Marca:</b>
  <%= @brand.name %>
</p>

<p>
  <b>Descripcion:</b>
  <%= @productorder.description %>
</p>


<%= link_to 'Editar', edit_productorder_path(@productorder), class: "btn btn-primary"  %>
<br>
<br>
</CENTER>